<div class="dashboard">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://snazzy-maps-cdn.azureedge.net/assets/7-icy-blue.png?v=20170626063457');">
  <div class="banner-content">
    <h1>Dashboard</h1>
    <p>Welcome back</p>
  </div>
</div>


<div class="dashboard-container">
  <div class="row dashboard-row">
    <div class="col-lg-8 col-xs-12">
      <div class="row">
        <div class = "col-md-6">
          <div class="card">
            <div class="card-description">
              <h2>Welcome, <%= @user.first_name %><%= " " %><%= @user.last_name %></h2>
            </div>
            <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/250x250" %>
            <%= image_tag avatar_url, class: "card-user" %>
            <button type="button" id="event-button" data-toggle="modal" data-target=".bd-example-modal-lg"><h4>Create a new Event</h4></button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card2">
            Google Calendar
          </div>
        </div>
      </div>

      <div class="row">
        <div class= "col-md-12">
          <div class="event-cards">
          <% if @events.count >= 1  %>
          <div class="event-title">Your events</div>
            <% @events.each do |event| %>
            <%= link_to event_path(event) do %>
            <div class="event-card">
              <div class="col-xs-2" id="ecn">
                <div class="event-card-name">
                  <%= event.name %>
                </div>
                <div class="event-card-start-time">
                  <%= event.start_date.strftime("%-d/%-m/%y: %k:00") %>
                </div>
                <div class="event-card-end-time">
                  <%= event.end_date.strftime("%-d/%-m/%y: %k:00") %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="event-card-description">
                  <%= event.description %>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="event-card-emerg">
                  <p>Contacts to notify:</p>
                  <%= event.emergency_contacts.pluck(:first_name).join(", ") %>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="event-card-location">
                  <p>Location:</p>
                  <%= event.location %>
                  <img class="avatar-large" src="https://www.london.ca/Maps/PublishingImages/new-citymap-forks.png">
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          <% else %>
            <div class="no-events">You have no events to display</div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="emergency">
        <div class="emerg-button">
          <%= link_to "Notify Contacts", emergency_path, method: :post, :class=> "help" %>
        </div>
        <div>
          <p class="notice">Please note, if you are in serious danger please also contact your local authorities.</p>
        </div>
        <div>
          <p class="notice-info">Clicking the link above will notify the emergency contacts you specified for your current event. They will receive a Whatsapp message that contains a link directing them to a page with your event details and event log.</p>
        </div>
      </div>
      <div class="dashboard-messenger">
        <h4>Chat via Facebook Messenger</h4>
        <div class="dashboard-messenger-desc"><p>Don't forget! During your event you can add information to your event log by chatting and uploading via Facebook messenger.</p>
        <img class="img" src="https://en.facebookbrand.com/wp-content/uploads/2016/09/messenger_icon2.png"></div>
      </div>
      <div class="emergency-contact-list" style="overflow-y: scroll">
        <div class="emergency-contacts-title">
        <h5>Emergency contacts:</h5>
        <button type="button" class="contact-button" data-toggle="modal" data-target=".bd-example-modal-sm">+</button>
        </div>
        <div style="overflow-y: scroll">
        <div>
          <% @emergency_contacts.each do |emergency_contact| %>
          <div class="row" id="emerg-contact-row">
            <div class="col-xs-4">
              <%= emergency_contact.first_name %>
              <%= emergency_contact.last_name %>
            </div>
            <div class="col-xs-5">
              <i class="fas fa-phone"></i>
              <%= emergency_contact.phone_number %>
            </div>
            <div class="col-xs-2">
              <%= link_to emergency_contact_path(emergency_contact),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
                  <% end %>
            </div>
        </div>
        <% end %>
        <div>
        <div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @event do |f| %>
        <%= f.input :name %>
        <label>Start Date</label>
        <input name="start_date" class="flatpickr flatpickr-input" id= "start-day" data-dateFormat="l, F j, Y">
        <label>Start Time</label>
        <input name="start_time" class="flatpickr" id="start-time">
        <label>End Date</label>
        <input name="end_date" class="flatpickr flatpickr-input" id= "end-day" data-dateFormat="l, F j, Y">
        <label>End Time</label>
        <input name="end_time" class="flatpickr" id= "end-time" data-enabletime="true" data-nocalendar="true" value="09:00">
        <%= f.input :description %>
        <%= render 'layouts/autocomplete' , f: f %>
        <div id="map"></div>
        <%= f.association :emergency_contacts, as: :check_boxes, collection: current_user.emergency_contacts.order(:first_name), value_method: :first_name, label_method: :first_name  %>
        <%= f.input :active, :as => :hidden %>
        <%= f.submit "Add Event", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add an emergency contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @emergency_contact do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.submit "Add Contact", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript">
const startDate = document.querySelector("#start-day");
flatpickr(startDate, {
  dateFormat: "Y-m-d",
});  // flatpickr

const endDate = document.querySelector("#end-day");
flatpickr(endDate, {
  dateFormat: "Y-m-d",
});  // flatpickr
  const startTime = document.querySelector("#start-time");
flatpickr(startTime, {
    enableTime: true,
    noCalendar: true,
    static: true
});  // flatpickr
  const endTime = document.querySelector("#end-time");
flatpickr(endTime, {
    enableTime: true,
    noCalendar: true,
    static: true
});  // flatpickr
</script>
