<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="event-form-container">
            <div class="col-xs-12">
              <%= simple_form_for @event, url: event_path, method: :patch do |f| %>
              <div class="form-input">
                <%= f.input :name %>
                <div class="event-dates-container">
                  <div class="col-xs-6">
                    <label>Event starts:</label>
                    <input name="start_date" class="flatpickr flatpickr-input form-control" placeholder="date" id= "start-day" data-dateFormat="l, F j, Y">
                   <input name="start_time" class="flatpickr form-control" placeholder="time" id="start-time">
                 </div>
                  <div class="col-xs-6">
                   <label>Event ends:</label>
                   <input name="end_date" class="flatpickr flatpickr-input form-control" placeholder="date"id= "end-day" data-dateFormat="l, F j, Y">
                   <input name="end_time" class="flatpickr form-control" placeholder="time" id="end-time">
                  </div>
                </div>
                <%= f.input :description %>
                <%= render 'layouts/autocomplete' , f: f %>
                <div id="map"></div>
                <%= f.input :active, as: :boolean %>

              </div>
              <div class="col-xs-12"><%= f.submit "Update Event", class: "btn-primary btn" %></div>
              <% end %>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript">
const startDate = document.querySelector("#start-day");
flatpickr(startDate, {
  dateFormat: "Y-m-d",
});  // flatpickr

const endDate = document.querySelector("#end-day");
flatpickr(endDate, {
  dateFormat: "Y-m-d",
});  // flatpickr
  const startTime = document.querySelector("#start-time");
flatpickr(startTime, {
    enableTime: true,
    noCalendar: true,
    static: true
});  // flatpickr
  const endTime = document.querySelector("#end-time");
flatpickr(endTime, {
    enableTime: true,
    noCalendar: true,
    static: true
});  // flatpickr
</script>
