
<div class="event-show-container">
  <div class="row">
    <div class="event-show-name"><h2><%= @event.name %></h2></div>
    <div class="col-xs-8">
      <div class="event-details-left">
        <div class="event-show-description"><p><%= @event.description %></p></div>
        <div class="event-location"><p><%= @event.location %></p></div>
        <div class="event-dates">
          <p>Event Starts: <%= @event.start_date %></p>
          <p>Event  Ends: <%= @event.end_date %></p>
          <% if @event.active == true %>
          <p>Active</p>
          <% elsif @event.active == false %>
          <p>Inactive</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <img class="event-photo" src="https://picsum.photos/200/300/?random">
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="links-from-event-show-page">
        <span class="btn-standard"><%= link_to "Edit", edit_event_path(@event) %></span>
        <span class="btn-standard"><%= link_to "Delete event", event_path(@event),
            method: :delete,
            data: { confirm: "Are you sure?" } %></span>
      </div>
    </div>
  </div>
</div>


